<!DOCTYPE html>
<html lang="en">
<head>
    <title id='Description'>Chat Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ static_url('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('chat.css') }}" rel="stylesheet">
</head>
<body class='default'>
<div class="container">

    <form action="/a/message/new" method="post" id="messageform">
      <div id="inbox" class="msg-container">
      {% for message in obj['messages'] %}
        {% include "message.html" %}
      {% end %}
      </div>
    <div class="form-group">
    <div class="input-group msg-input">
      <input type="text" id="message" name="body" class="form-control input-lg">
      <span class="input-group-btn">
        <button class="btn btn-primary btn-lg" type="submit">Enter</button>
      </span>
      <input type="hidden" name="next" value="{{ request.path }}">
      <input type="hidden" name="src" value="{{ obj['src'] }}">
      <input type="hidden" name="dst" value="{{ obj['dst'] }}">
      {% module xsrf_form_html() %}
    </div><!-- /input-group -->
    </div><!-- /form-group -->
    </form>

</div>
</body>
</html>
<script src="{{ static_url('bower_components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ static_url('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ static_url('chat.js') }}"></script>
