#login {
    width: 400px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -200px;
    padding: 20px;
}

.msg-container {
    height: 100%;
    bottom: 200px;
}

.float-right span {
    float: right !important;
}

.msg-input {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
